/* REFERENCES */
.references__content {
    gap: .25rem;
}

.references__subtitle {
    color: var(--text-color-light);
}

.references__subtitle,
.references__contact {
    font-size: var(--small-font-size);
}

.references__title {
    font-size: var(--h3-font-size);
}