@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Base  */
*, ::before, ::after {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth ;
}

/* VARIABLES CSS  */
:root {
    --header-height: 3rem;

    /* Color */
    --title-color: #0B0A0A;
    --text-color: #403a3a;
    --text-color-light: #707070;
    --container-color: #fafafa;
    --container-color-alt: #f0efef;
    --body-color: #fcfcfc;

    /* Font and typography */
    --body-font:  'Poppins', sans-serif;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1rem;
    --normal-font-size: 0.938rem;
    --small-font-size: .875rem;
    --smaller-font-size: .813rem;

    /* Font weight */
    --font-medium: 500;
    --font-semi-bold: 600;

    /* Margenes  */
    --mb-1: .5rem;
    --mb-2: 1rem;
    --mb-3: 1.5rem;

    /* Z index */
    --z-tooltip: 10;
    --z-fixed: 100;
}

body {
    margin: 0 0 var(--header-height) 0;
    padding: 0;
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    background-color: var(--body-color);
    color: var(--text-color);
}

h1, h2, h3, h4, p {
    margin: 0
}

h1, h2, h3 {
    color: var(--title-color);
    font-weight: var(--font-medium);
}

ul {
    padding: 0;
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

.section {
    padding: 1.5rem 0;
}

.section-title {
    font-size: var(--h2-font-size);
    color: var(--title-color);
    font-weight: var(--font-semi-bold);
    text-transform: uppercase;
    letter-spacing: 0.35rem;
    text-align: center;
    margin-bottom: var(--mb-3);
}

/* Layout */
.bd-container {
    max-width: 968px;
    width: calc(100% - 3rem);
    margin-left: var(--mb-3);
    margin-right: var(--mb-3);
}

.bd-grid {
    display: grid;
    gap: 1.5rem;
}

.l-header {
    /* width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: var(--z-fixed); */
    background-color: var(--body-color);
    box-shadow:  0 -1px 4px rgba(0, 0, 0, .1);
    transition: .3s;
}

/* NAV */
.nav {
    /* height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center; */
}

@media screen and (max-width: 968px) {
   .nav__menu {
    position: fixed;
    bottom: -100%;
    left: 0;
    width: 100%;
    padding: 2rem 1.5rem;
    background-color: var(--body-color);
    box-shadow: 0 1px 4px rgba(0, 0, 0, .1);
    border-radius: 1rem 1rem 0 0;
    z-index: var(--z-fixed);
    transition: 0.3s;
   }
}

.nav__logo,
.nav__toggle {
    color: var(--text-color-light);
    /* font-weight: var(--font-medium); */
}

.nav__toggle {
    /* font-size: 1.2rem;
    cursor: pointer; */
}

.nav__item {
    /* text-align: center; */
}

.nav__list {
    /* display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem; */
}

.nav__link {
    /* display: flex;
    flex-direction: column; */
    font-size: var(--smaller-font-size);
}

.nav__link:hover {
    color: var(--title-color);
}

.nav__icon {
    /* font-size: 1.2rem;
    margin-bottom: var(--mb-1); */
}

.show-menu {
    bottom: var(--header-height);
}

.active-link {
    color: var(--title-color);
    font-size: .9rem;
}

/* MEDIA QUERIES  */
@media screen and (max-width: 320px) {
    .nav__list {
        grid-template-columns: repeat(2, 1fr);
        gap: 1rem .5rem;
    }
}

@media screen and (min-width: 968px) {
    body {
        margin: 3rem 0;
    }

    .bd-container {
        margin-left: auto;
        margin-right: auto;
    }

    .l-header,
    .scrollTop {
        display: none;
    }

    .resume {
        display: grid;
        grid-template-columns: .5fr 1fr;
        background-color: var(--container-color);
        box-shadow: 0 0 8px rgba(13, 12, 12, .15);
    }

    .resume__left {
        background-color: var(--container-color-alt);
    }

    .resume__left,
    .resume__right {
        padding: 0 1.5rem;
    }

    .section-title,
    .profile__description {
        text-align: initial;
    }

    .home__container {
        gap: 1.5rem;
    }

    .home__button-movil {
        display: none;
    }

    .interests__container {
        grid-template-columns: repeat(2, 1fr);
        gap: 1.5rem;
    }

    .skills__content {
        grid-template-columns: 0.2fr 1fr;
    }

    .skills__name {
        align-items: flex-start;
    }

    .skills_desc {
        font-size: var(--small-font-size);
    }
}
